<div class="main-containter">
  <mat-toolbar color='primary'>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <h1>PinMap</h1>


  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
      <mat-nav-list>
        <ng-container *ngFor="let item of menu">
          <mat-list-item [routerLink]="[item.route]" (click)="setActiveItem(item.route)">
            <div fxLayout="row" fxLayoutAlign="start center"
                 [ngStyle]="{'color' : activeItem===item.route ? '#c2185b' : 'white' }">
              <mat-icon>{{item.iconName}}</mat-icon>
              <div class="nav-item-title">{{item.displayName}}</div>
            </div>
          </mat-list-item>
        </ng-container>

        <mat-list-item class="bottom" (click)="logout()">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>logout</mat-icon>
            <div class="nav-item-title">Logout</div>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

